.bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
    height: 100vh;
    background-size: cover;


}

.main-heading {
    color: #5752ab;
    text-align: center;
    font-size: 25px;

}

.card {
    background-color: #ffffff;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;

}

.button {
    font-family: "Bree Serif";
    color: #171f46;
    width: 130px;
    border-radius: 0px;
    background-color: #ffffff;
    border-color: #d7dfe9;
    border-top-left-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 4px;
    margin-right: 5px;
}

.btn-primary {
    background-color: #5752ab;
    width: 130px;
    border-radius: 0px;
    border-color: #d7dfe9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 3px;
    margin-left: 5px;
}

.paragraph {
    font-family: "Bree Serif";
    text-align: center;
    font-size: 16PX;
    color: #323f4b;
}